---
heading: /dev/mtl 2024
layout: base
permalink: /
published: true
sitemap: true
title: /dev/mtl 2024 Recap
---

<meta property="og:title" content="/dev/mtl 2024 - Nov 27">
<meta property="og:description" content="An awesome conference from the local tech communities, on Nov 27, 2024. Get your ticket!">
<meta property="og:image" content="https://media.licdn.com/dms/image/v2/D4E22AQHdBgfv-DKkLw/feedshare-shrink_800/feedshare-shrink_800/0/1726076545705?e=1729123200&v=beta&t=HdvafK5_6BpvJrLKdyL2skV0yCy4DRuGk8-77A8cH2w">
<meta property="og:url" content="https://www.dev-mtl.ca/">
<meta property="og:type" content="website">

<header class="subpage-header recap-header">
  <h1>{{ page.heading }}</h1>
</header>

<div class="content">
  <div class="row">
    <div class="column small-12 text-center">
      <a href="{{ site.ticket_link }}" class="button">Get your ticket</a>
    </div>
  </div>

  <div class="section-pad">
    <div class="row">
      <div class="column small-12">
        <p>
          Join us on <strong>November 27, 2024</strong> for a full day of talks
          from the local tech community!
        </p>

        <p>
          Taking place at the
          <a href="https://www.perf.etsmtl.ca/">ÉTS Formation</a>, the day will
          be filled with insightful presentations in a dual-track agenda: one
          track in French, one track in English. 16 talks including
        </p>
        <ul>
          <li>
            <strong>Frontend Ruby with Glimmer DSL for Web</strong> by Andy
            Maleh, from Ruby Montreal
          </li>
          <li>
            <strong>Introduction to Elixir</strong> by Cleaver Barnes, from
            Elixir Montreal
          </li>
          <li>
            <strong
              >Construisez un bot sur vos propres données avec l'API de
              GPT</strong
            >
            by Farid Bellameche, from GenAI Montreal
          </li>
          <li>
            <strong>Ktor: le framework web 100% Kotlin</strong> by Arthur Veys,
            from JUG Montreal
          </li>
          <li>
            <strong>5 principes d'architecture SOLID</strong> by Xavier Balloy,
            from Software Crafters Québec
          </li>
          <li>… and 11 more talks!</li>
        </ul>

        <a href="/talks/" class="button">See the full schedule</a>

        <p>
          Enjoy a day of learning, networking, and sharing with the local tech
          communities! Tickets are affordable so anyone can attend. Seats are
          limited, so get yours now!
        </p>
      </div>
    </div>
  </div>

  <div class="section-pad mini-profile-block theme-brand-color5">
    <div class="row">
      <div class="column">
        <h2>Our Presenters are ✨ Amazing ✨</h2>
      </div>
    </div>

    <section class="row mini-profile">
      {% for presenter in site.presenters %} {% unless presenter.hidden %} {% if
      presenter.name %}
      <a
        href="{{ site.url }}{{ presenter.permalink }}"
        class="mini-profile-byline column small-6 medium-4"
      >
        {% if presenter.photo_url != blank %}
        <img
          class="avatar"
          src="{{ site.url }}{{ presenter.photo_url }}"
          alt="Photo of {{ presenter.name }}"
        />
        {% endif %} {{ presenter.name }}
      </a>
      {% endif %} {% endunless %} {% endfor %}
    </section>
  </div>

  {% include sponsor-footer.html %} {% assign total_presentations =
  site.schedule | where:"category", "talk" %}

  <div class="section-pad theme-light-gray">
    <div class="row">
      <div class="column small-12 medium-5">
        <h2>📈 2024 by the Numbers</h2>
        <p class="lead">
          2024 will be an amazing year for attendance, sponsorship, talks,
          really everything that goes into making a conference great!
        </p>
      </div>

      <div class="column hide-for-mobile medium-6">
        <div class="table-scroll">
          <table class="unstriped stacked">
            <thead>
              <tr>
                <th>What?</th>
                <th>Tell me about it.</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Attendees</td>
                <td>~100</td>
              </tr>
              <tr>
                <td>Talks</td>
                <td>{{ total_presentations.size }}</td>
              </tr>
              <tr>
                <td>Languages</td>
                <td>French 🇫🇷 / English 🇬🇧</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="section-pad organizer-block theme-brand-color4">
    <div class="row">
      <div class="column">
        <header class="organizer-block-header recap-heading">
          <h2>/dev/mtl 2024 is possible through lots of ❤️</h2>
          <p class="lead">
            Our organizers put dozens of hours of heart and soul into this
            conference. We couldn't do it without the local meetups!
          </p>
        </header>
      </div>

      <div
        class="row small-up-1 smedium-up-2 medium-up-3 large-up-4 organizers"
      >
        {% for organizer in site.organizers %} {% unless organizer.hidden %}
        <div class="column column-block">
          <div class="profile">
            <img
              class="thumbnail"
              src="{{ site.url }}{{ organizer.photo_url }}"
              alt="Photo of {{ organizer.name }}"
              style="width: 200px; height: 200px; object-fit: cover"
            />
            <div class="profile-namecard">
              <h3 class="profile-name">
                {{ organizer.name }} {% if organizer.pronouns != blank %} ({{
                organizer.pronouns }}) {% endif %}
              </h3>
              {{ organizer.role }}
            </div>
            <ul class="social-icons">
              {% if organizer.twitter != blank %}
              <li>
                <a
                  class="twitter"
                  href="https://twitter.com/{{ organizer.twitter }}"
                  target="_blank"
                >
                  <svg class="twitter-icon">
                    <use xlink:href="#twitter-icon"></use>
                  </svg>
                </a>
              </li>
              {% endif %} {% if organizer.github != blank %}
              <li>
                <a
                  class="github"
                  href="https://github.com/{{ organizer.github }}/"
                  target="_blank"
                >
                  <svg class="social-icon">
                    <use xlink:href="#github-icon"></use>
                  </svg>
                </a>
              </li>
              {% endif %} {% if organizer.website != blank %}
              <li>
                <a class="web" href="{{ organizer.website }}" target="_blank">
                  <svg class="social-icon">
                    <use xlink:href="#web-icon"></use>
                  </svg>
                </a>
              </li>
              {% endif %}
            </ul>
          </div>
          <!--/.profile -->

          <!-- TODO: list all the meetups who are contributing -->
        </div>
        <!--/.column -->
        {% endunless %} {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- End .content -->
