<footer class="footer" role="contentinfo">
  <a class="footer-logo" href="{{ site.url }}" aria-hidden="true">
    <img src="{{ "/static/img/logo.svg" | relative_url }}" alt="/dev/mtl {{
    site.conf_year }}" />
  </a>

  <div class="row column">
    <ul class="social-icons">
      <li>
        <a class="github" href="https://github.com/devmtl2024/site">
          <svg class="social-icon">
            <title>Github</title>
            <use xlink:href="#github-icon"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="linkedin"
          href="https://www.linkedin.com/company/dev-mtl/about/"
        >
          <svg class="social-icon">
            <title>LinkedIn</title>
            <use xlink:href="#linkedin-icon"></use>
          </svg>
        </a>
      </li>
    </ul>

    <p class="text-center">
      <strong>
        Got questions? We can help:
        <a href="mailto:{{site.contact_us_email}}">{{site.contact_us_email}}</a>
      </strong>
    </p>

    <small class="legal text-center">
      &copy; {{ site.time | date: '%Y' }} /dev/mtl &middot; Design by
      <a href="http://yupgup.com/">YupGup</a> &middot; Forked from
      <a href="https://github.com/djangocon/2021.djangocon.us">DjangoCon US 2021</a>
      &middot; <a href="/conduct/">Code of Conduct</a>
    </small>
  </div>
</footer>
