<li><a href="{{ site.ticket_link }}">🎟️ Get your ticket</a></li>
<li><a href="{{ site.url }}/talks/">Talks Schedule</a></li>
<li><a href="{{ site.url }}/sponsors/">Sponsors</a></li>
<li><a href="{{ site.url }}/organizers/">Organizers</a></li>
<li><a href="{{ site.url }}/conduct/">Code of Conduct</a></li>
<!--<li><a href="{{ site.url }}/jobs/">Jobs Board</a></li>-->
<!--<li class="is-dropdown-submenu-parent">
  <a href="{{ site.url }}/about/" aria-haspopup="true" aria-expanded="false">About</a>
  <ul class="menu vertical nested">
  </ul>
</li>-->

<script type="text/javascript">
  var menuItems = document.querySelectorAll('li.is-dropdown-submenu-parent');
  Array.prototype.forEach.call(menuItems, function(el, i){
    el.querySelector('a').addEventListener("click",  function(event){
      if (this.parentNode.className == "has-submenu") {
        this.parentNode.className = "has-submenu open";
        this.setAttribute('aria-expanded', "true");
      } else {
        this.parentNode.className = "has-submenu";
        this.setAttribute('aria-expanded', "false");
      }
      event.preventDefault();
      return false;
    });
  });
</script>
